<div class="contact-pageMainDiv">
    <header>
        <h1>Contact Us</h1>
    </header>

    <main>
        <div style="display: flex;">
            <section class="contact-info">
                <h2>Address:</h2>
                <p>123 Main Street<br> City, State, Zip Code<br> Country</p>

                <h2>Phone:</h2>
                <p>Main Office: +1 (123) 456-7890<br> Support: +1 (987) 654-3210</p>

                <h2>Email:</h2>
                <p>General Inquiries: <a href="mailto:info@yourwebsite.com">info&amp;commat;yourwebsite.com</a><br>
                    Support:
                    <a href="mailto:support@yourwebsite.com">support&amp;commat;yourwebsite.com</a>
                </p>

                <h2>Business Hours:</h2>
                <p>Monday - Friday: 9:00 AM - 6:00 PM (EST)<br> Saturday: 10:00 AM - 4:00 PM (EST)</p>
            </section>

            <section class="contact-form">
                <h2>Contact Form:</h2>
                <form action="#" method="post">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required><br>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required><br>

                    <label for="subject">Subject:</label>
                    <input type="text" id="subject" name="subject" required><br>

                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="7" required></textarea><br>

                    <input type="submit" value="Submit">
                </form>
            </section>
        </div>

        <section class="social-links">
            <h2>Our Social Media handels:</h2>
            <!-- Replace # with your social media URLs -->
            <a href="#" target="_blank"><img src="../../assets/facebook-round-svgrepo-com.svg" alt="Facebook"
                    height="60px" width="60px"></a>
            <a href="#" target="_blank"><img src="../../assets/twitter-2-svgrepo-com.svg" alt="Twitter" height="60px"
                    width="60px"></a>
            <a href="#" target="_blank"><img src="../../assets/instagram-round-svgrepo-com.svg" alt="Instagram"
                    height="60px" width="60px"></a>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 E-Cart.com</p>
    </footer>
</div>