<div class="contact-pageMainDiv">
    <main>
        <div style="display: flex;">
            <section class="contact-info">
                <h2>Address:</h2>
                <p>123 Main Street<br> City, State, Zip Code<br> Country</p>

                <h2>Phone:</h2>
                <p>Main Office: +1 (123) 456-7890<br> Support: +1 (987) 654-3210</p>

                <h2>Email:</h2>
                <p>General Inquiries: <a href="mailto:info@yourwebsite.com">info&amp;commat;yourwebsite.com</a><br>
                    Support:
                    <a href="mailto:support@yourwebsite.com">support&amp;commat;yourwebsite.com</a>
                </p>

                <h2>Business Hours:</h2>
                <p>Monday - Friday: 9:00 AM - 6:00 PM (EST)<br> Saturday: 10:00 AM - 4:00 PM (EST)</p>
                <div class="social-links">
                    <h2>Our Social Media Handels:</h2>
                    <!-- Replace # with your social media URLs -->
                    <a href="#" target="_blank"><img src="../../assets/facebook-round-svgrepo-com.svg" alt="Facebook"
                            height="60px" width="60px"></a>
                    <a href="#" target="_blank"><img src="../../assets/twitter-2-svgrepo-com.svg" alt="Twitter"
                            height="60px" width="60px"></a>
                    <a href="#" target="_blank"><img src="../../assets/instagram-round-svgrepo-com.svg" alt="Instagram"
                            height="60px" width="60px"></a>
                </div>
            </section>

            <section class="contact-form">
                <h2>Leave a Message:</h2>
                <form #contactForm="ngForm" (ngSubmit)="postData(contactForm)" novalidate>
                    <span style="display: flex;">
                        <label for="name">Name:</label>
                        <div *ngIf="contactFormName.touched&&contactFormName.invalid" class="is-invalid">
                            <div *ngIf="contactFormName.errors && contactFormName.errors['required']">
                                Must add a Name.
                            </div>
                            <div *ngIf="contactFormName.errors && contactFormName.errors['minlength']">
                                Name must have 3 characters.
                            </div>
                        </div>
                    </span>
                    <input type="text" id="name" name="name" [(ngModel)]="this.name" #contactFormName="ngModel" required
                        minlength="3" maxlength="20">
                    <br>

                    <span style="display: flex;">
                        <label for="email">Email:</label>
                        <div *ngIf="contactFormEmail.touched&&contactFormEmail.invalid" class="is-invalid">
                            <div *ngIf="contactFormEmail.errors && contactFormEmail.errors['required']">
                                Must add a Email.
                            </div>
                            <div *ngIf="contactFormEmail.errors && contactFormEmail.errors['pattern']">
                                Invalid Email.
                            </div>
                        </div>
                    </span>
                    <input type="email" id="email" name="email" [(ngModel)]="this.email" #contactFormEmail="ngModel"
                        required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"><br>

                    <span style="display: flex;">
                        <label for="subject">Subject:</label>
                        <div *ngIf="contactFormSubject.touched&&contactFormSubject.invalid" class="is-invalid">
                            <div *ngIf="contactFormSubject.errors && contactFormSubject.errors['required']">
                                Must add a Subject.
                            </div>
                        </div>
                    </span>
                    <input type="text" id="subject" name="subject" [(ngModel)]="this.subject"
                        #contactFormSubject="ngModel" required><br>

                    <span style="display: flex;">
                        <label for="message">Message:</label>
                        <div *ngIf="contactFormMessage.touched&&contactFormMessage.invalid" class="is-invalid">
                            <div *ngIf="contactFormMessage.errors && contactFormMessage.errors['required']">
                                Must add a Message.
                            </div>
                        </div>
                    </span>
                    <textarea id="message" name="message" [(ngModel)]="this.message" #contactFormMessage="ngModel"
                        rows="8" required></textarea><br>

                    <input type="submit" value="Submit" [disabled]="contactForm.invalid"
                        [ngStyle]="{'text-decoration':contactForm.invalid?'line-through':'none','background-color':contactForm.invalid?'#635d5d':'#444','border':contactForm.invalid?'0px':'1px solid white'}">
                </form>
            </section>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 E-Cart.com</p>
    </footer>
</div>