.MainDiv {
    /* background-color: red; */
    display: flex;
    align-items: center;
    padding-left: 3%;
    font-size: large;
    font-weight: bold;
    color: rgb(102, 91, 91);
    margin-top: 1%;
}

.radioButtonDiv {
    display: flex;
    width: 100%;
}

p {
    margin-right: 0.5%;
}

label {
    margin-right: 0.5%;
}

input {
    margin-left: 0.5%;
}