<div [ngClass]="{'MainDiv':true}">
    <p>Filters</p>
    <div [ngClass]="{'radioButtonDiv':true}">
        <input type="radio" name="ProductFilter" id="ProductFilter1" value='all' [(ngModel)]="this.selectedFilter"
            (ngModelChange)="this.emitSelectedFilter()" checked>
        <label for="ProductFilter1">All({{this.allProductsCount}})</label>
        <input type="radio" name="ProductFilter" id="ProductFilter2" value="inStock" [(ngModel)]="this.selectedFilter"
            (ngModelChange)="this.emitSelectedFilter()">
        <label for="ProductFilter2">In Stock({{this.inStockProductsCount}})</label>
        <input type="radio" name="ProductFilter" id="ProductFilter3" value="outOfStock"
            [(ngModel)]="this.selectedFilter" (ngModelChange)="this.emitSelectedFilter()">
        <label for="ProductFilter3">Out Of Stock({{this.outOfStockProductsCount}})</label>
    </div>
</div>