.mainDiv {
    width: 40%;
    height: 100vh;
    overflow: scroll;
    background-color: rgb(184, 184, 184);
    display: grid;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    font-size: large;
    padding-bottom: 5%;
}

.imageContainerDivImg {
    /* background-color: black; */
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
}

.ProductDataDiv {
    /* border: 1px solid green; */
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.9pc;
    text-align: left;
}

.brandGenderCategory {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
}

.price {
    background-color: black;
    width: fit-content;
    font-size: x-large;
    color: white;
}

.priceOrignalCrossedP {
    text-decoration: line-through;
    color: gray;
}

.addToCardButton {
    margin-top: 5%;
    margin-left: 5%;
    background-color: black;
    color: white;
    font-size: larger;
    border: 0px;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    transition: 0.5s;
}

.addToCardButton:hover {
    transition: 0.3s;
    background-color: white;
    color: black;
}

/* Track */
::-webkit-scrollbar {
    width: 0.75rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #686363;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle on active */
::-webkit-scrollbar-thumb:active {
    background: #555;
}