<div [ngClass]="{'MainDiv':true}">
    <app-search-bar
        (OnSearchButtonClick)="(this.searchText=$event.toString())&&this.updateProductToDisplay()"></app-search-bar>

    <app-filter [allProductsCount]="this.allProductsCount" [inStockProductsCount]="this.inStockProductsCount"
        [outOfStockProductsCount]="this.outOfStockProductsCount" [selectedFilter]="this.selectedFilter"
        (OnFilterSelect)="(this.selectedFilter=$event.toString())&&this.updateProductToDisplay()"></app-filter>

    <div [ngClass]="{'productContainer':true}" *ngIf="this.allProductsCount>0">
        <app-product-card *ngFor="let i of this.productToDisplay" [product]="i" [currencyType]="this.currencyType"
            (onProductCardClick)="
            (this.showProductDetails=true)&&(this.setSelectedProductForDetails($event))"></app-product-card>
    </div>
    <div [ngClass]="{'productContainer':true}" *ngIf="this.allProductsCount==0">
        <p>No Products Found</p>
    </div>

    <app-product-details [productsDetailsToDisplay]="this.selectedProductForDetails"
        [showProductDetails]="this.showProductDetails" [currencyType]="this.currencyType"
        (onCloseButtonClick)="this.showProductDetails=$event"></app-product-details>

    <div [ngClass]="{'newArrivalDiv':true}">
        <p [ngClass]="{'newArrivalP':true}">
            Latest
            Arrival in Popular Brands</p>
        <div [ngClass]="{'newArrivalFeaturedBrandDiv':true}">
            <app-feachered-brand-card>
                <h2 id="1" [ngClass]="{'feacheredBrandCardh2':true}">New Arrival in Nike</h2>
                <button id="2" [ngClass]="{'feacheredBrandCardButton':true}">Show
                    New
                    Arrivale in
                    Nike</button>
            </app-feachered-brand-card>
            <app-feachered-brand-card>
                <h2 id="1" [ngClass]="{'feacheredBrandCardh2':true}">New Arrival in Adidas</h2>
                <button id="2" [ngClass]="{'feacheredBrandCardButton':true}">Show
                    New
                    Arrivale in
                    Adidas</button>
            </app-feachered-brand-card>
            <app-feachered-brand-card>
                <h2 id="1" [ngClass]="{'feacheredBrandCardh2':true}">New Arrival in Reebok</h2>
                <button id="2" [ngClass]="{'feacheredBrandCardButton':true}">Show
                    New
                    Arrivale in
                    Reebok</button>
            </app-feachered-brand-card>
        </div>
    </div>
</div>