.mainDiv {
    background-color: white;
    text-align: center;
    text-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 1%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: rgb(102, 91, 91);
}